<a href="https://colab.research.google.com/github/huzaifa61/Open-Source-Technologies/blob/master/02_Control_Statements_HUZAIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Introduction to Python

##***Welcome to your second  iPython Notebook.***

![python](https://cognitiveclass.ai/wp-content/uploads/2016/10/Machine-Learning-with-Python.png)

## **About iPython Notebooks**

iPython Notebooks are interactive coding environments embedded in a webpage. You will be using iPython notebooks in this class. You only need to write code between the ### START CODE HERE ### and ### END CODE HERE ### comments. After writing your code, you can run the cell by either pressing "SHIFT"+"ENTER" or by clicking on "Run Cell" (denoted by a play symbol) in the left bar of the cell.


**In this notebook you will learn -**



* If else
* Loops

# Python If Else

**To understand If Else statement first you need to know the logic operators.**

  * Equals: **a == b**
  * Not Equals: **a != b**
  * Less than: **a < b**
  * Less than or equal to: **a <= b**
  * Greater than: **a > b**
  * Greater than or equal to: **a >= b**

![alt text](http://i.imgur.com/fqJOBUS.png)

**If statement:**

An "if statement" is written by using the if keyword.

In [0]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

**NOTE: ** As you can see in the above example unlike other languages, Python doesn't use curly brackets to define a block of code. Instead Python uses something called Identation. Identation is a particular length of whitespaces before a line of code.

**Exercise 2.1:** 

If **x** is greater than **y** print "Joker".

In [0]:
x = 50
y = 49
         
### START CODE HERE ### 
              
if x > y:
  print("Joker")
### END CODE HERE ###

Joker

**Expected Output:**

Joker

**Elif statement:**

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [0]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

**Else:**

The else keyword catches anything which isn't caught by the preceding conditions.

In [0]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

 **Short Hand If:**
 
If you have only one statement to execute, you can put it on the same line as the if statement.

In [0]:
if a > b: print("a is greater than b")

a is greater than b

**Short Hand If Else:**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line.

In [0]:
print("A") if a > b else print("B")

A

**And Operator:**

The **and** keyword is a logical operator, and is used to combine conditional statements.

In [0]:
c=300
if a > b and c > a:
  print("Both conditions are True")         #Test if a is greater than b, AND if c is greater than a

Both conditions are True

**Or Operator**

The **or** keyword is a logical operator, and is used to combine conditional statements.

In [0]:
if a > b or a > c:
  print("At least one of the conditions are True")         #Test if a is greater than b, OR if a is greater than c

At least one of the conditions are True

**Exercise 2.2:**

Print if the number is positive or negative using If Else

In [0]:
num = -6         #given
### START CODE HERE ### 


if num > 0:                                                       
  print(num, "is a positive number.")
else:
  print(num, "is a negative number.")
  

### END CODE HERE ###

-6 is a negative number.



**Expected Output: **"-6 is a negative number.

# Python Loops

Lets say you want to print something multiple times. It is not efficient to use print statement again and again so there is a concept called **Loops**.

**Python has two primitive loop commands:**



*   **While** Loop
*   **For** Loop

##While Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [0]:
i = 1
while i < 6:
  print(i)              #Print i as long as i is less than 6
  i += 1                #Increment i after every loop

1
2
3
4
5

##The break Statement
With the break statement we can stop the loop even if the while condition is true.The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop. If break statement is inside a nested loop (loop inside another loop), break will terminate the innermost loop.

In [0]:
fruits = ["apple", "banana", "cherry"] #list it is explained in next Tutorial
for x in fruits:
  print(x) 
  if x == "banana":
    break                                #Exits the loop when x is "banana"

apple
banana

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)                              # Exits the loop when x is "banana", but this time the break comes before the print.

apple

##The continue Statement
With the continue statement we can stop the current iteration, and continue with the next

In [0]:
fruits = ["apple", "banana", "cherryEXCERCISE"]
for x in fruits:
  if x == "banana": 
    continue                                   #Do not print banana
  print(x)

apple
cherry

**Exercise 2.3:**

Print "yo" twice using **while**  loop.

In [0]:
### START CODE HERE ### (4 line of code)

i = 1
while i<3:                    ##1 line of code
 print("yo")
 i += 1                   ##1 line of code               

### END CODE HERE ###

yo
yo


** Prints all letters except 'e' and 's' **

print all letters in geeksforgeeks except e & s using continue statement

In [0]:
for letter in 'geeksforgeeks':
##start of code
	if letter == 'e' or letter == 's': 
		continue
	print (letter) 
##end of code

g
k
f
o
r
g
k


**Pass Statement**

We use pass statement to write empty loops. Pass is also used for empty control statement, function and classes.

In [0]:
# An empty loop 
for letter in 'thisisholi': 
	pass
print ('Last Letter :', letter)

Last Letter : i

if found h in word " python "continue the statement

In [0]:
for letter in 'Python':     
   if letter == 'h':
      continue
   print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

##For Loop

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

![alt text](https://www.datamentor.io/wp-content/uploads/2017/11/r-for-loop.jpg)

Pythonâ€™s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:                            #Print each fruit in a fruit list
  print(x)

apple
banana
cherry

**Looping Through a String**

Even strings are iterable objects, they contain a sequence of characters

In [0]:
for x in "banana":         #Loop through the letters in the word "banana"
  print(x)

b
a
n
a
n
a

** Measure some strings:**

words = ['cat', 'wind', 'python']

In [0]:
words = ['cat', 'wind', 'python']
for w in words:
  print(w, len(w))

cat 3
wind 4
python 6

If you need to modify the sequence you are iterating over while inside the loop (for example to duplicate selected items), it is recommended that you first make a copy. Iterating over a sequence does not implicitly make a copy. The slice notation makes this especially convenient:

In [0]:
  words = ['cat', 'wind', 'pythondd']
  
  for w in words[:]:       # Loop over a slice copy of the entire list.
    if len(w) > 6:
       words.insert(0, w)

####The range() Function
While working with For Loop, it is important to know about **range()** function.

To loop through a set of code a specified number of times, we can use the **range()** function,
The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [0]:
for x in range(6):
  print(x)

0
1
2
3
4
5

**NOTE: ** The function range(6) is not the values of 0 to 6, but the values 0 to 5. The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6).

**Exercise 2.4:**

Write a program to print all the numbers from 0 to 10 that are divisible by 2 using **for** loop.

> Indented block



Hint Use **if** function if necessary.

In [0]:
### START CODE HERE ### (3 line of code)
for x in range(10):
  if x%2==0:
    print(x)

               

### END CODE HERE ###

0
2
4
6
8

**Expected Output: **

0
2
4
6
8

1) List  keywords in python

Keywords are the reserved words in Python.


keyword.iskeyword(s)

    Return true if s is a Python keyword.

keyword.kwlist

    Sequence containing all the keywords defined for the interpreter. If any keywords are defined to only be active when particular __future__ statements are in effect, these will be included as well.

In [0]:
import keyword
# START CODE

## END CODE

Expected Output .

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

2) **Boolean Strings** (bool) A string in Python can be tested for truth value.

The return type will be in Boolean value (True or False)



---
A variable x given test it by Using Boolean Function with it.

In [0]:
x = True #given
## code here

True

 
3) print **Hello programmer 3 Times** using while loop

In [0]:
# print Hello Programmer 3 Times

Expected Output:
Hello programmer
Hello programmer
Hello programmer

4) iterate over a list ["today", "is", "holiday"]

In [0]:
l= ["today", "is", "holiday"]   # given
## Start code here

today
is
holiday

5) **iterate over tuple** ("we", "have", "unity")

In [0]:
t = ("we", "have", "unity")  # given
## Start code here

we
have
unity

 6) **iterate over string** GEEKS

In [0]:
## code here

G
e
e
k
s

7) Use nested for loop to print Expected output

In [0]:
from __future__ import print_function 
#you have to write two nested for loops using range  


		print(i, end=' ') 
	print()

1
2 2
3 3 3
4 4 4 4

Expected output :

1 

2 2

3 3 3 

4 4 4 4

8)
Iterate over a Dictionary Iteration
xyz  123
abc  345

In [0]:
d = dict()  
d['xyz'] = 123
d['abc'] = 345
## code here

Dictionary Iteration
xyz  123
abc  345

9) for letter in 'Python': 
   if letter h found break 
      
      
      When Break Comes loop exits

In [0]:

## code here

Current Letter : P
Current Letter : y
Current Letter : t

Expected output
Current Letter : P
Current Letter : y
Current Letter : t

10) for letter in 'geeksforgeeks' use **Break** when e or s comes

In [0]:
for letter in 'allisgeeksforgeeks':
  
    # break the loop as soon it sees 'e'  
    # or 's' 
## do your code here

Current Letter : s

11) combination of an else statement with a for statement that searches for prime numbers from 10 through 20

In [0]:
for num in range(10,20):     #to iterate between 10 to 20
   for i in range(2,num):    #to iterate on the factors of the number
                             #to determine the first factor write code
                             #to calculate the second factor write code
         break #to move to the next number, the #first FOR
      else:                  # else part of the loop
         print(num)

12)**infinite loop**
use infinite loop & print the entered input

In [0]:
###start of code
num = input("Enter a number :") ## it uses to take inputs  
###end of code

13) To find the prime numbers from 2 to 100 The use a nested for loop

In [0]:
### START OF CODE (7-8 LINES)


### END OF CODE

**EXPECTED OUTPUT**

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97



14) Give access to the system if password is "secret" else access denied use input By input function

In [0]:
## CODE HERE

15) *print*
A	All grades above 89
B	All grades above 79 and below 90
C	All grades above 69 and below 80
D	All grades below 70

In [0]:
num =int(raw_input("Enter the number:")) 
## CODE HERE

16)  calculate the frequency of myList = [1,1,2,3,4,5,3,2,3,4,2,1,2,3]
**Collections** in python 

         class collections.Counter([iterable-or-mapping])

    A Counter is a dict subclass for counting hashable objects. It is an unordered collection where elements are stored as dictionary keys and their counts are stored as dictionary values. Counts are allowed to be any integer value including zero or negative counts. The Counter class is similar to bags or multisets in other languages.

In [0]:
import collections 

myList = [1,1,2,3,4,5,3,2,3,4,2,1,2,3]

## start of code (1 line)


## end of code

Counter({2: 4, 3: 4, 1: 3, 4: 2, 5: 1})

EXPECTED OUTPUT

Counter({2: 4, 3: 4, 1: 3, 4: 2, 5: 1})

17) **Implicit Type Conversion:**
In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [0]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

18) Addition of string and integer using **explicit** **conversion**

In [0]:
num_int = 123
num_str = "456"

print(type(num_int))
print(type(num_str))

## code here 


num_sum = num_int + num_str

print(num_sum)
print(num_sum)

19)**Output formatting**
  
      Sometimes we would like to format our output to make it look attractive. This can be done by using the str.format() method. This method is visible to any string object.

In [0]:
print('I love {0} and {1}'.format('bread','butter'))
# Now Format the Text "I love study and sports"

print('I love {0} and {1}'.format('study','sport'))

I love bread and butter
I love study and sport

**Python Import**

When our program grows bigger, it is a good idea to break it into different modules.

A module is a file containing Python definitions and statements. Python modules have a filename and end with the extension .py.

Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the import keyword to do this.


19) import maths Liabraries & print the value of **PI**

In [0]:
## code Here

**Membership operators**

       in and not in are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In a dictionary we can only test for presence of key, not the value.

20) Use in & Not in to check whether "Hello" is present in list or Dictionary"

In [0]:
x = 'Hello world'
y = {1:'a',2:'b'}

## code here

True

 21) Create a list add physics chemistry 1997 2000 in list1 and
Add 1 2 3 4 5 6 7 in list 2  then
Print list1[0] & list2[1:5]

In [0]:
#### start of code (approx 3 lines)


#### end of code

22) **Extending list **

Create a list add physics chemistry 1997 2000 in list1 extends it with list two

In [0]:
#### start of code (approx 3 lines)


#### end of code

Expected output
'physics', 'chemistry', 'maths', 0, 1, 2, 3, 4]

23) **sort** the list ['physics', 'Biology', 'chemistry', 'maths']

In [0]:
## code here

list now :  ['Biology', 'chemistry', 'maths', 'physics']



---

Solutions : 
\[link text](https://drive.google.com/open?id=1O_MP8ErYQ0i-4WJiCFAkpU8A45L87nAE)