#  Introduction to Python

##***Welcome to your Third iPython Notebook.***

![python](https://cognitiveclass.ai/wp-content/uploads/2016/10/Machine-Learning-with-Python.png)

## **About iPython Notebooks**

iPython Notebooks are interactive coding environments embedded in a webpage. You will be using iPython notebooks in this class. You only need to write code between the ### START CODE HERE ### and ### END CODE HERE ### comments. After writing your code, you can run the cell by either pressing "SHIFT"+"ENTER" or by clicking on "Run Cell" (denoted by a play symbol) in the left bar of the cell.


**In this notebook you will learn -** 
* Collection

#Python Collections

Python Collections (Arrays)
There are four collection data types in the Python programming language:




*  ** List** is a collection which is ordered and changeable. Allows duplicate members.
*  **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
*  ** Set** is a collection which is unordered and unindexed. No duplicate members.
*  ** Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

##List
A list is a collection which is **ordered** and **changeable**. In Python lists are written with square brackets.

**Create a List:**

In [0]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**Access Items :** 

You access the list items by referring to the index number

In [0]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])                                   # Prints the second item of the list

banana

**Change Item Value :**

To change the value of a specific item, refer to the index number

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)                                      # Changes the second item

['apple', 'blackcurrant', 'cherry']

**Loop Through a List :**

You can loop through the list items by using a **for** loop

In [0]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)                                            # Prints all items in the list, one by one

apple
banana
cherry

**Check if Item Exists:** 

To determine if a specified item is present in a list use the 'in'  keyword.

In [0]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")         # Checks if "apple" is present in the list

Yes, 'apple' is in the fruits list

**List Length :** 

To determine how many items a list have, use the len() method

In [0]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))                                   # Prints the number of items in the list

3

**Add Items :** 

To add an item to the end of the list, use the append() method.

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the insert() method

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")                            # Inserts an item as the second position
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Remove Item :**

There are several methods to remove items from a list

**The remove() method :** 
The remove() method removes the specified item

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**The pop() method :**
The pop() method removes the specified index, (or the last item if index is not specified)

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(0)
print(thislist)

['banana', 'cherry']

**The del keyword :**
The del keyword removes the specified index.

In [0]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely:

In [0]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)                      #this will cause an error because "thislist" no longer exists.

**The clear() method :**
The clear() method empties the list

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

**The list() Constructor :**

It is also possible to use the list() constructor to make a list.

In [0]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

**Exercise 3.1:**


Create a list named BestOfTv add the following items in it Breakin Bad,Game of Thrones and Mr Robot. Then perform the following actions on the list:

*   Remove Game Of Thrones from it.
*   Add Friends to the list at 0 index. 
*  Check if Game Of Thrones is in the list if it is print("GOT is in BestOfTv") otherwise print("GOT is not in BestOfTv")

In [0]:
### START CODE HERE ##
                                  ##Create list
thisl['Breaking Bad', 'Game Of Thrones', 'Mr Robot']                                  ##Remove Game Of Thrones
print(BestOfTv)
                                  ##Add Friends at index 0 
print(BestOfTv)
                                  ##Check if Game Of Thrones is in the list  



### END CODE HERE ###

**Expected Output:**

['Breaking Bad', 'Game Of Thrones', 'Mr Robot']

['Breaking Bad', 'Mr Robot']

['Friends', 'Breaking Bad', 'Mr Robot']

GOT is not in BestOfTv

##Tuples
A tuple is a collection which is **ordered** and **unchangeable**. In Python tuples are written with round brackets.

**Create a Tuple:**

In [0]:
thistuple = ("apple", "banana", "cherry")          # Creates a tuple
print(thistuple)

**Access Tuple Items:**

You can access tuple items by referring to the index number.

In [0]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])                                # Return the item in position 1

**Change Tuple Values:**

 You cannot change values in a tuple. Tuples are **unchangeable**. The values will remain the same.

In [0]:
thistuple = ("apple", "banana", "cherry")          
thistuple[1] = "mango"                             # This will raise an error
print(thistuple)

**Tuple Length:**

To determine how many items a list have, use the len() method.

In [0]:
thistuple = ("apple", "banana", "cherry")          # This will print the number of items in the tuple.
print(len(thistuple))

**Add Items:**

Once a tuple is created, you cannot add items to it. Tuples are** unchangeable**.

In [0]:
thistuple = ("apple", "banana", "cherry")         
thistuple[3] = "orange"                            # This will raise an error
print(thistuple)

**Remove Items:**

 Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely.

In [0]:
thistuple = ("apple", "banana", "cherry")          #The del keyword can delete the tuple completely
del thistuple
print(thistuple)                                   # This will raise an error because the tuple no longer exists

**The tuple() Constructor:**

It is also possible to use the tuple() constructor to make a tuple.

In [0]:
thistuple = tuple(("apple", "banana", "cherry"))    # note the double round-brackets
print(thistuple)

**Loop Through a Tuple:**

You can loop through the tuple items by using a for loop.

In [0]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

**Exercise 3.2:**


Perform the following action on the tuple



*   Display the length of the tuple
*   Display the item in third position

In [0]:
### START CODE HERE ###

food = ("pizaa", "burger", "cake") 
                                    ##Display the length
                                    ##Display the item

### END CODE HERE ###



**Expected Output: **

3

cake

## Sets
A set is a collection which is **unordered** and **unindexed**. In Python sets are written with curly brackets.

**Create a Set:**

In [0]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

**Note:** Sets are unordered, so the items will appear in a random order.

**Access Items:**

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop.

In [0]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:                                    #Loops through the set, and print the values              
  print(x)

**Change Items:**

Once a set is created, you cannot change its items, but you can add new items.

**Add Items:**
To add one item to a set use the add() method.

In [0]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

**Update Items:** To add more than one item to a set use the update() method.

In [0]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

**Get the Length of a Set:**

To determine how many items a set have, use the len() method.

In [0]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

**Remove Item:**

To remove an item in a set, use the remove(), or the discard() method.

In [0]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [0]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)                                            # Note: If the item to remove does not exist, discard() will NOT raise an error.

**The set() Constructor:**

It is also possible to use the set() constructor to make a set.

In [0]:
thisset = set(("apple", "banana", "cherry"))              # note the double round-brackets
print(thisset)

**clear() method :**

The clear() method empties the set.

In [0]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

**Exercise 3.3:**

Write a Python script to perform the following actions on a **set**.



*   Create a set called games with items witcher,cs,fortnite.
*   Add pubg to the set
*   Remove fortnite from the set
*   Empty the set

In [0]:
### START CODE HERE 
games = {"witcher", "cs", "fortnite"}
print(games)
games.add("pubg")
print(games)
games.remove("fortnite")
print(games)
games.clear()
print(games)
### END CODE HERE ###

**Expected output**: 

{'witcher', 'fortnite', 'cs'}
{'witcher', 'fortnite', 'cs', 'pubg'}
{'witcher', 'cs', 'pubg'}
set()

## Dictionary

A dictionary is a collection which is** unordered**, **changeable** and **indexed**. In Python dictionaries are written with curly brackets, and they have keys and values.

**Create a dictionary:**

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)                                        # prints the dictionary.

**Accessing Items:**

You can access the items of a dictionary by referring to its key name

In [0]:
x = thisdict["model"]                                  # Gets the value of the "model" key
print(x)

There is also a method called get() that will give you the same result:

In [0]:
x = thisdict.get("model")                              # Gets the value of the "model" key
print(x)

**Change Values:**

You can change the value of a specific item by referring to its key name.

In [0]:
#Change the "year" to 2018:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018                                # Changes the "year" to 2018
print(thisdict)

**Loop Through a Dictionary:**

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [0]:
for x in thisdict:
  print(x)                                            # Prints all key names in the dictionary, one by one.

You can also use the values() function to return values of a dictionary:

In [0]:
for x in thisdict.values():                     
  print(x)                                            # Prints all values in the dictionary, one by one.

Loop through both keys and values, by using the items() function:

In [0]:
for x, y in thisdict.items():
  print(x, y)                                          # Prints both keys and values, in the dictionary, one by one.

**Check if Key Exists:**

To determine if a specified key is present in a dictionary use the ' in'  keyword.

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
} 
if "model" in thisdict:                                 # Checks if "model" is present in the dictionary
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

**Dictionary Length:**

To determine how many items (key-value pairs) a dictionary have, use the len() method.

In [0]:
print(len(thisdict))

**Adding Items :**

Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

**Removing Items :**

There are several methods to remove items from a dictionary

**The pop() method :**

The pop() method removes the item with the specified key name

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

**The popitem() method :**

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead)

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

**The del keyword :**

The del keyword removes the item with the specified key name

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

The del keyword can also delete the dictionary completely

In [0]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)                           #this will cause an error because "thisdict" no longer exists.

**Exercise 3.4:**


Write a Python script to perform the following actions to a dictionary.


*    Create a dictionary with items 0:10,1:20
*   Add 2:30 to the following dictionary

In [0]:
### START CODE HERE ### (1 line of code)

d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)                

### END CODE HERE ###



**Expected Output: **{0: 10, 1: 20, 2: 30}



---


24) Create a list ['Biology', 'chemistry', 'maths', 'physics'] & print it

In [1]:
list =  ['Biology', 'chemistry', 'maths', 'physics']
print(list)

['Biology', 'chemistry', 'maths', 'physics']

Expected Output : ['Biology', 'chemistry', 'maths', 'physics']

25) compare the two tuples (123, 'xyz') & (456, 'abc')

Expected Output : -1

26) create a list ['maths', 'che', 'phy', 'bio'] & convert into tuple using tuple() method.

In [0]:
## code here

 expected output
 tuple elements :  ('maths', 'che', 'phy', 'bio')

27) create a tuple ('a','p','p','l','e',)  and use count method to count element p

In [0]:
## code here

Expected Output : 2

28) create a tuple ('a','p','p','l','e',) and use index method to index element l

In [0]:
## code here

Expected Output : 3

29) create a dictionary with each item being a pair of a number and its square in range 6.

In [0]:
##code here

Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

30) create a dictionary squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81} & test whether  1 is present in list

In [0]:
## code here

Expected Output : True

31) create a dictionery squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81} print length in squares

In [0]:
## code here

Expected Output : 5

32) create  a nested dictionary 
nested_list = [['blue', 'green'], ['red', 'black'], ['blue', 'white']] & print its length.

In [0]:
nested_list = [['blue', 'green'], ['red', 'black'], ['blue', 'white']]
##code here

Expected Output : {1: 'Geeks', 2: 'For', 3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}

33) create a Dictionary {"A":1, "B":2}  use get method to with A , B , C

In [0]:
## CODE HERE

Expected Output : 1
None
Not Found !

Deque can be implemented in python using the module “collections“. Deque is preferred over list in the cases where we need quicker append and pop operations from both the ends of container, as deque provides an O(1) time complexity for append and pop operations as compared to list which provides O(n) time complexity.

     Operations on deque :

1.**append()** :- This function is used to insert the value in its argument to the right end of deque.

2. **appendleft()** :- This function is used to insert the value in its argument to the left end of deque.

3. **pop()** :- This function is used to delete an argument from the right end of deque.


4.**popleft()** :- This function is used to delete an argument from the left end of deque.

In [0]:
# Python code to demonstrate working of 
# append(), appendleft(), pop(), and popleft() 

# importing "collections" for deque operations 
import collections 

# initializing deque 
de = collections.deque([1,2,3]) 

# using append() to insert element at right end 
# inserts 4 at the end of deque 
de.append(4) 

# printing modified deque 
print ("The deque after appending at right is : ") 
print (de) 

# using appendleft() to insert element at right end 
# inserts 6 at the beginning of deque 
de.appendleft(6) 

# printing modified deque 
print ("The deque after appending at left is : ") 
print (de) 

# using pop() to delete element from right end 
# deletes 4 from the right end of deque 
de.pop() 

# printing modified deque 
print ("The deque after deleting from right is : ") 
print (de) 

# using popleft() to delete element from left end 
# deletes 6 from the left end of deque 
de.popleft() 

# printing modified deque 
print ("The deque after deleting from left is : ") 
print (de)

The deque after appending at right is :
deque([1, 2, 3, 4])
The deque after appending at left is :
deque([6, 1, 2, 3, 4])
The deque after deleting from right is :
deque([6, 1, 2, 3])
The deque after deleting from left is :
deque([1, 2, 3])



---

Solutions : 
\[link text](https://drive.google.com/open?id=1O_MP8ErYQ0i-4WJiCFAkpU8A45L87nAE)