#  Introduction to Python

##***Welcome to your Fourth iPython Notebook.***

![python](https://cognitiveclass.ai/wp-content/uploads/2016/10/Machine-Learning-with-Python.png)

## **About iPython Notebooks**

iPython Notebooks are interactive coding environments embedded in a webpage. You will be using iPython notebooks in this class. You only need to write code between the ### START CODE HERE ### and ### END CODE HERE ### comments. After writing your code, you can run the cell by either pressing "SHIFT"+"ENTER" or by clicking on "Run Cell" (denoted by a play symbol) in the left bar of the cell.


**In this notebook you will learn -**



* Functions

#Python Functions

**A function is a block of code which only runs when it is called.**

**You can pass data, known as parameters, into a function(Function_Name(Parameters)).**

**A function can return a value if specified.**

##**Creating a Function:**

In Python a function is defined using the def keyword.

In [0]:
def my_function():
  print("Hello from a function")

**Exercise 4.1 :**

Create a function named** display**

In [0]:
### START CODE HERE ### 
                                        ##1 line of code
    print("Hello from a function")
### END CODE HERE ###

##**Calling a Function:**

To call a function, use the function name followed by parenthesis.

In [0]:
def my_function():
  print("Hello from a function")

my_function()

##**Parameters:**

Information can be passed to functions as parameter.

Parameters are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma.

The following example has a function with one parameter (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name.

In [0]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

**NOTE:** If we call the function without parameter, it uses the default value.

In [0]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

##**Return Statement**


When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, return statement is used.

In [0]:
def times(x,y):
    z = x*y
    return z


The above defined times( ) function accepts two arguements and return the variable z which contains the result of the product of the two arguements

In [0]:
c = times(4,5)
print c


20

The z value is stored in variable c and can be used for further operations.

Instead of declaring another variable the entire statement itself can be used in the return statement as shown.

In [0]:
def times(x,y):
   return x*y       # This multiplies the two input arguments and returns it.

In [0]:

c = times(4,5)
print c


20

Since the times( ) is now defined, we can document it as shown above. This document is returned whenever times( ) function is called under help( ) function.

**Exercise 4.2 :**

 Let the function return the** x** parameter - 10

In [0]:
### START CODE HERE ### 
def my_function(x):
                                 ## 1 line of code
### END CODE HERE ###

##**Implicit arguments**

When an argument of a function is common in majority of the cases or it is "implicit" this concept is used.

In [0]:

def implicitadd(x,y=3):
    return x+y


**implicitadd( )**  is a function accepts two arguments but most of the times the first argument needs to be added just by 3. Hence the second argument is assigned the value 3. Here the second argument is implicit.

In [0]:
implicitadd(4)       # if the second argument is not defined when calling the implicitadd( ) function then it considered as 3.


But if the second argument is specified then this value overrides the implicit value assigned to the argument

In [0]:

implicitadd(4,4)     # if the second argument is specified then this value overrides the implicit value assigned to the argument

##** Arbitrary  arguments**

If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the argument.

In [0]:
def add_n(*args):
    res = 0
    reslist = []
    for i in args:
        reslist.append(i)
    print reslist
    return sum(reslist)

The above function accepts any number of arguments, defines a list and appends all the arguments into that list and return the sum of all the arguments.

In [0]:
add_n(1,2,3,4,5)

**Output :** 

[1, 2, 3, 4, 5]

 15

**Exercise 4.3 :**

1) Create a function called **add**, which takes two numbers as parameters and prints their addition.
 
2) Display the additon of **12** and** 36**.

In [0]:
### START CODE HERE ### 

                                   ## 2-3 lines of code
                                   
    
print(____(12, 36))

### END CODE HERE ###

46

**Expected output:**

46

**Exercise 4.4 :**

Write a shutting down function:

1) Define  a function, **shut_down**, that takes one argument s. 

2)  If the **shut_down** function receives an **s** equal to** 1**, it should return **"Shutting down"** Alternatively, elif **s** is equal to **2,** then the function should return **"Shutdown aborted"**. Finally, if** shut_down** gets anything other than those inputs, the function should return **"Sorry".**

In [0]:
### START CODE HERE ###                  
def          :                               ## 5-6 lines of code
     
       return "Shutting down"
     
       return "Shutdown aborted"
    
      return "Sorry"
### END CODE HERE ###

**Exercise 4.5 :**

Write functions to **add**,** subtract, divide,** and **multiply** two numbers

In [0]:
### START CODE HERE ###    

# This function adds two numbers and returns their addition 
def       :
  
  
# This function subtracts two numbers  and returns their subtraction
def       :
   

# This function multiplies two numbers  and returns their division 
def       :
   

# This function divides two numbers  and returns their multiplication
def       :

### END CODE HERE ###
add(8,4)
subtract(8,4)
divide(8,4)
multiply(8,4)

**Expected output:**
 
 12 
 
 4
 
 2
 
 32

**Exercise 4.6 :**

Create and define a Function **greet** to greet **"Monica", "Ross", "Chandler", "Joey", "Rachel"** and **"Phoebe".**


**Hint:**  

Make use of** Arbitrary arguments.**

In [0]:
### START CODE HERE ###   
def           :                       ## This function greets all the person in the names tuple
  
                                       ## 3-4 lines of code
       

greet("Monica","Ross","Chandler","Joey","Rachel","Phoebe")           ## Function call

### END CODE HERE ###

**Expected output:**

Hello Monica

Hello Ross

Hello Chandler

Hello Joey

Hello Racheal

Hello Phoebe